#boards{
	display: flex;
	background-color: #006EB7;
}
.board{
	margin-top: 250px;
	background-color: #0070FF;
	min-width:300px;
	flex-wrap: wrap-reverse;
	margin-left: 20px;
	border-radius: 4px;
	text-align: center;
	font-size: 1em;
	word-wrap: break-word;
	font-weight: bold;
	color: #0070FF;
	padding-top: 30px;
	max-height: 95px;
}
.hpbtn:hover{
	color: lightgray;
}
.board:hover{
	visibility: visible;
	background-color: #0260db;
	color: white;

	
}

.boardHeader{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color:white;
}
.boardHeader:hover{
	overflow: visible;

}
.fixedcontainer{
	position: fixed;
	display: block;
	width: 100vw;
}
#addboardbutton{
	background-color: #0260db;
	color: white;
	padding: 7px;
	text-decoration: none;
	border-radius: 4px;
	border:none;
	margin-bottom: 25px;
	margin-top: 25px;
}
#addboardbutton:hover{
	background-color: white;
	color: #0260db; 
}
.homepagetitle{
	justify-content: center;
	color: white;
	font-family: 'Roboto', sans-serif;
	margin-top: 25px;
}
#logoutbutton{
	background-color: #0260db;
	color: white;
	padding: 7px;
	text-decoration: none;
	border-radius: 4px;
	border:none;
	float: right;
	margin-right: 5vw;


}
#logoutbutton:hover{
	background-color: white;
	color: #0260db; 

}
.logoutbuttonbox{
	display: flex;
	justify-content: flex-end;
	background-color:#005E9C;
	flex:50%; 
}




