/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/
section{	
	background-color: #00B7FF;
	font-family: sans-serif;
}
.jumbotron {
	background-color: purple;
}

#button1{
	background-color: green;
}
#swimlanes{
	display: flex;
	flex-wrap: nowrap;
	overflow: scroll;
	position: relative;
	background-color: #00B7FF;
}
.swimlane {
	border: 1px solid black;
	min-width: 300px;
	height: 100vh;
	background-color: grey;
	overflow: scroll; 
	margin-left: 50px; 
	margin-top: 20px;
	padding-left: 10px;
	position: absolute;
	border-radius: 4px;
}
.swimlaneHeader{
	margin: 10px;
	padding-left: 30px;
	font-weight: bold;

}
.icons{
	margin: 20px;
}
.card{
	min-height:200px; 
	background-color: white;
	border: 1px solid lightgrey;
	border-radius: 5px;
	margin-right: 10px;
	margin-bottom: 20px;
}

.cardHeader{
	margin-left: 10px;
}
.card-white{
	background-color: white;
}

.cardDescription{
	padding-left: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: black;
	height:auto;
	overflow: auto;
}

