extends layout

block content
	.d-flex.header
		a#button2.btn.btn-primary.mr-3.mt-3.ml3(href='http://localhost:3000', type='button') Boards
		h1.boardtitle Trello Board: Team Project
	|
	section
		.d-flex.justify-content-center
			button#button1.btn.btn-primary.mr-3.mt-3.ml3(type='button') New Swimlane
	|
	#swimlanes
	script(src='/javascripts/scripts.js')