extends layout

block content
	.container
			h1.display-4 Trello Board: Team Project
	|
	section
		.d-flex.justify-content-center
			button#button1.btn.btn-primary.border.border-dark.mr-3.mt-3.ml3(type='button') New Swimlane
	|
	#swimlanes