extends layout

block content
	.d-flex.header
		h1.boardtitle Home Page: Team Project
	|
	section
		.d-flex.justify-content-center
			button#addboardbutton.btn.btn-primary.mr-3.mt-3.ml3(type='button') New Board
	|
	#boards