extends layout

block content
	.header.fixedcontainer
		div.d-flex.justify-content-center
			h2.homepagetitle Home Page Team Project
		|
		div.d-flex.justify-content-center
			button#addboardbutton New Board
	|
	#boards
	script(src='/javascripts/homepage.js')
