extends layout

block content
	.header.d-flex
		a#button2.button2(href='http://localhost:3000/boards') Boards
		h1.boardtitle 
	|
	section
		.d-flex.justify-content-center
			button#button1.btn.btn-primary.mr-3.mt-3.ml3(type='button') New Swimlane
	|
	#swimlanes
	script(src='/javascripts/scripts.js')