extends layout

block content
	.header.d-flex
		div.boardbuttonbox
			a#button2.button2(href='http://localhost:3000/boards') Boards
		div.logoutbuttonbox
			a( id="logoutbuttonswimlane" href="/logout" ) Log Out
	div.boardtitlebox
		h1.boardtitle
	div.addsomespace 
	|
	section
		.d-flex.justify-content-center
			button#button1.btn.btn-primary.mr-3.mt-3.ml3(type='button') New Swimlane
	|
	#swimlanes
	script(src='/javascripts/scripts.js')